<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-IREL-20171226151328;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-IREL-20171226151328.mdf" providerName="System.Data.SqlClient" />
    <add name="IRELDBConnectionString" connectionString="Data Source=DESKTOP-Q71DBJF;Initial Catalog=IRELDB;Persist Security Info=True;uid=sa;Password=Esoft@2025" providerName="System.Data.SqlClient" />
    <add name="IRELDBConnectionString1" connectionString="Data Source=DESKTOP-Q71DBJF;Initial Catalog=IRELDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Main Server details
    <add key="connectionString" value="c2VydmVyPUVTT0ZUQ09ONTAwNDBcU1FMRVhQUkVTUzt1aWQ9U0E7cHdkPXdlQGlyZWxAMjAxODtpbml0aWFsIGNhdGFsb2c9SVJFTERC"/>
    <add key="ServerIp" value="RVNPRlRDT041MDA0MFxTUUxFWFBSRVNT"/>
    <add key="UserID" value="U0E="/>
    <add key="Password" value="d2VAaXJlbEAyMDE4"/>
    <add key="DatabaseName" value="SVJFTERC"/>-->
    <!--  192.168.30.4 server details-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="connectionString" value="c2VydmVyPVBBVkFOLVBDO3VpZD1TQTtwd2Q9cGF2YW47aW5pdGlhbCBjYXRhbG9nPUlSRUxEQg==" />
    <add key="IrelConStr" value="Data Source=DESKTOP-Q71DBJF;Integrated Security=True;Initial Catalog=IRELDB;uid=sa;Password=Esoft@2025"/>
    <add key="ServerIp" value="UEFWQU4tUEM=" />
    <add key="UserID" value="U0E=" />
    <add key="Password" value="cGF2YW4=" />
    <add key="DatabaseName" value="SVJFTERC" />
    <add key="AuthType" value="DB" />
    <!--Local Server  details-->
    <!--<add key="connectionString" value="c2VydmVyPVJBTUFLUklTSE5BLVBDXFJLO3VpZD1TQTtwd2Q9U1FMMjAwOFIyO2luaXRpYWwgY2F0YWxvZz1JUkVMREI="/>
    <add key="ServerIp" value="UkFNQUtSSVNITkEtUENcUks="/>
    <add key="UserID" value="U0E="/>
    <add key="Password" value="U1FMMjAwOFIy"/>
    <add key="DatabaseName" value="SVJFTERC"/>-->
    <!--192.168.30.54 server details
    <add key="connectionString" value="c2VydmVyPTE5Mi4xNjguMzAuNTQ7dWlkPVNBO3B3ZD0yMDA4c3Fsc2VydmVyO2luaXRpYWwgY2F0YWxvZz1JUkVMREI="/>
    <add key="ServerIp" value="MTkyLjE2OC4zMC41NA=="/>
    <add key="UserID" value="U0E="/>
    <add key="Password" value="MjAwOHNxbHNlcnZlcg=="/>
    <add key="DatabaseName" value="SVJFTERC"/>-->
    <!--  192.168.1.62 server details-->
    <!--<add key="connectionString" value="c2VydmVyPUVTT0ZUQ09ONTAwNDBcU1FMRVhQUkVTUzt1aWQ9U0E7cHdkPXdlQGlyZWxAMjAxODtpbml0aWFsIGNhdGFsb2c9SVJFTERC" />
    <add key="ServerIp" value="RVNPRlRDT041MDA0MFxTUUxFWFBSRVNT" />
    <add key="UserID" value="U0E=" />
    <add key="Password" value="d2VAaXJlbEAyMDE4" />
    <add key="DatabaseName" value="SVJFTERC" />
    <add key="Reportserverip" value="esoftcon50040" />
    <add key="Reportserverpwd" value="P@ssw0rd1!" />
    <add key="ReportServerUID" value="Administrator" />
    <add key="ReportFolder" value="/IREL_Reports" />
   
    <add key="AuthType" value="DB" />
   
    <add key="ADGroupName" value="ADS" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <!--<add key="DomainName" value="esoft.com" />
    <add key="ADServerPath" value="192.168.30.1" />-->
    <add key="Reportserverip" value="103.233.76.133" />
    <add key="Reportserverpwd" value="P@ssw0rd1!" />
    <add key="ReportServerUID" value="Administrator" />
    <add key="ReportFolder" value="/IREL_Reports" />
    <add key="DomainName" value="irelonline.in" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="3600" />
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true"/>-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Utilities/GenericErr.html" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version = 1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="50">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="x-xss-protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="TRACE" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="20480000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>